




/* ==========================================================================
BASIC STYLES
========================================================================== */

//$main-dark: #121212;
$main-white: #f7f7f7;
$primary-nav-color: #008CBA;

$light-yellow: #FDFDD9;
$yellow: #F9EA77;
$main-yellow: #FFF568;
$dark-yellow: #FCD059;
$dark-yellow: #FFD200;



$red: #E5343A;

$mint: #57dcdb;
$green: #58B9A1;




/* ===****** Versailles Boxes ******=== */

$pink: #F01EC9;
//$text-dark-pink: #3a3146;
$text-darkest-pink: #141119;






$versailles-light: rgb(221, 221, 221);

//=======*****TYPOGRAPHY*****=======//


$body-font-light: #F2F1E6;

//=======*****BUTTONS*****=======//

//$button-bg: #121212;
//$button-bg-hover: $body-font-color;
$button-border: #111111;
//$hue: #c1c9d1;


//=======*****NAVIGATION*****=======//
$main-bg-nav: #e8eced;
$main-border-color: #c6d0da;
$bg-nav: #5993cd;
$main-font-nav: #5f6f81;

$blue-overlay: #b3d4fc;


//=======*****TOP-ORBIT*****=======//
//$slider-bg-1: #609194;
//
$slider-bg-1: #36435C;
$slider-bg-2: #002b36;
$slider-bg-3: #222524;

//$slider-bg-1: #60AB9A;
//$slider-bg-1: #004C45;
$ocean-green: #004C45;
//$slider-bg-1: #063229;





//$middle-slide-color: #AFAFAF;
$middle-slide-color: #545A5F;


$star-dust: #444349;




//=======*****PARALLAX*****=======//
$color-1: #3d3536;
$color-2: #99a478;
$color-3: #81827E;










/* 	$main-bg-body: #34495e;
$white-hue: #f7f7f7;
$white-hue-2: #F2F1E6;
$white-hue-border: #eaeaea;

//dark colors
$color-5: #3a3a3a;


//top slider colors
$slider-bg-1: #7DC8BC;
$slider-bg-2: #343434;
$slider-bg-3: #919494;

$slider-bg-1: #7DC8BC;
$slider-bg-2: #31AFBD;
$slider-bg-3: #DDB1BA;


$main-bg-nav: #fff;
$main-font-nav: #5f6f81;
$main-border-color: #c6d0da;
$main-dark-bg: #343434;
$main-light-bg: #d1d1d1;
$link-gray: #505460;
$beige-lignt: #ECE9E1;
$blue-gray: #9b9b9b;
$color-black: #1B1F22;


// breakpoints
   
$S:     320px;   
$M:     768px;     
$L:     1170px;


// colors

$color-1: #3d3536; // brown
$color-2: #99a478; // green dark
$color-3: #81827E; // gray light
$color-4: #F2F2F2; // white */
